.footer {
  background-color: #1e1b17;
  color: #eee;
  padding: 1rem 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 5px;
  font-family: 'Segoe UI', sans-serif;
  border-top: #aaa 1px solid;
}



.footer-brand p{
  padding-top: 10px;
  font-size: 1.2rem;
  margin: 0;
  color: #ccc;
  align-items: center;
}

.footer-links {
  padding: 0.5rem;
  display: flex;
}

.footer-links li {
  list-style: none;
  color: #ccc;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  transition: color 0.2s ease;
}

.footer-links li:hover {
  cursor: pointer;
  color: #ff5722;
}

.contact-us {
  font-size: 1rem;
  color: #ccc;
  text-align: center;
  font-weight: bold;
  padding: 0.5rem;
}

.footer-socials {
  display: flex;
  gap: 1.2rem;
  align-items: center;
}

.footer-socials a {
  color: #ccc;
  font-size: 1.5rem;
  transition: color 0.2s ease;
}

.footer-socials a:hover {
  color: #ff5722;
}

.footer-copy p {
  flex-basis: 100%;
  text-align: center;
  margin-top: 2rem;
  font-size: 0.9rem;
  color: #ccc;
}

.footer-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1300px;
  padding: 1rem 0;
}

.footer-image {
  width: 350px;
  height: auto;
}

.footer-image img {
  width: 100%;
  height: auto;
  filter: brightness(1.2);
}

.footer-center {
  flex: 1;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}


/* 🔁 Responsive */
@media (max-width: 768px) {
  .footer {
    flex-direction: column;
    text-align: center;
    align-items: center;
  }

  .footer-links,
  .footer-socials {
    align-items: center;
  }
}

@media (max-width: 768px) {
  .footer-wrapper {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }

  .footer-image {
    width: 60px;
  }
}
