/* Sidebar.css */
.sidebar {
  position: fixed;
  top: 0;
  left: -250px;
  width: 250px;
  height: 100%;
  background-color: #111;
  color: white;
  transition: right 0.3s ease-in-out;
  z-index: 1100;
  padding: 1rem 2rem;
  display: none;
}

.sidebar.open {
  left: 0;
  display: block;
}

.sidebar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem;
}

.sidebar-header h3 {
  margin: 0;
  font-size: 1.3rem;
}

.close-icon {
  cursor: pointer;
  font-size: 1.2rem;
  transition: transform 0.2s ease;
}

.close-icon:hover {
  transform: scale(1.5);
}

.sidebar-menu {
  list-style: none;
  padding: 0;
  margin-top: 2rem;
}

.sidebar-menu li {
  padding: 1rem 1.5rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  transition: color 0.2s ease;
  border-radius: 15px;
}

.sidebar-menu li:hover {
  background-color: #f0a500;
}

.sidebar-icon {
  margin-right: 1rem;
  font-size: 1.1rem;
}

/* Backdrop when sidebar is open */
.sidebar-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
  display: none;
}

.sidebar.open + .sidebar-backdrop {
  display: block;
}

/* Responsive behavior */
@media (max-width: 768px) {
  .sidebar {
    display: none;
    width: 180px;
  }
  .sidebar.open {
    display: block;
  }
  
}